{#
/**
 * @file
 * wunderweb's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.top_header_form: Items for the top header form region.
 * - page.header: Items for the header region.
 * - page.header_form: Items for the header form region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.admin_tabs: Items for node management.
 * - page.content: The main content of the current page.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme variables:
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 *
 * @see template_preprocess_page()
 * @see wunderweb_theme_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-wrapper" class="page-wrapper">
  <header id="header" class="header" role="banner"
          aria-label="{{ 'Site header'|t }}">
    {% block head %}
      <nav{{ navbar_attributes }}>
        <div class="container no-padding-sm">
          <div class="navbar-brand">
            {{ page.header }}
          </div>
          {% if page.primary_menu or page.lang_menu %}
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="navbar navbar-expand-lg">
              <div class="collapse navbar-collapse" id="navbarNav">
                {% if page.primary_menu %}
                  <div class="menu-region">{{ page.primary_menu }}</div>
                {% endif %}
                {% if  page.lang_menu %}
                  <div class="lang-region">{{ page.lang_menu }}</div>
                {% endif %}
              </div>
            </nav>
          {% endif %}
        </div>
      </nav>
    {% endblock %}
  </header>

  {% if page.highlighted %}
    <div class="highlighted">
      <aside class="{{ container }} section clearfix" role="complementary">
        {{ page.highlighted }}
      </aside>
    </div>
  {% endif %}
  {% if page.featured_top %}
    {% block featured %}
      <div class="featured-top">
        <aside class="featured-top__inner section {{ container }} clearfix"
               role="complementary">
          {{ page.featured_top }}
        </aside>
      </div>
    {% endblock %}
  {% endif %}
  {% if page.admin_tabs %}
    <div class="admin_tabs container">
      {{ page.admin_tabs }}
    </div>
  {% endif %}
  <div id="main-wrapper" class="layout-main-wrapper clearfix">
    {% block content %}
      <div{{ main_attributes }}>
        <div class="row clearfix">
        {{ page.breadcrumb }}
          <main class="main-content">
            <section class="section">
              <a id="main-content" tabindex="-1"></a>
              <div class="container">
                <div class="row">
                  <div class="col-lg-3 filters">
                    {% if page.facets_left_top %}
                      {{ page.facets_left_top }}
                    {% endif %}
                    {{ page.facets_left }}
                  </div>
                  <div class="col-lg-9 product-listing">
                    <div class="top-product-info row">
                      <div class="d-none d-lg-block col-sm-6 col-lg-8 product-item-counter">
                        {%  if pager_total_items %}
                          <strong>{{ pager_total_items }} </strong> {{ 'Products'|trans }}
                        {% endif %}
                      </div>
                      <div class="col-lg-4 top-product-info-sort-wrapper">
                          {{ page.facets_top }}
                      </div>
                    </div>

                    {{ page.content }}
                  </div>
                </div>
              </div>
            </section>
          </main>
        </div>
      </div>
    {% endblock %}
  </div>
  {% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
    <div class="featured-bottom">
      <aside class="{{ container }} clearfix" role="complementary">
        {{ page.featured_bottom_first }}
        {{ page.featured_bottom_second }}
        {{ page.featured_bottom_third }}
      </aside>
    </div>
  {% endif %}
  <footer class="site-footer">
    {% block footer %}
      <div class="{{ container }}">
        {{ page.footer_main }}
        {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
          <div class="site-footer__top clearfix">
            {{ page.footer_first }}
            {{ page.footer_second }}
            {{ page.footer_third }}
            {{ page.footer_fourth }}
          </div>
        {% endif %}
        {% if page.footer_fifth %}
          <div class="site-footer__bottom">
            {{ page.footer_fifth }}
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </footer>

</div>
