blockquote {
}
blockquote > p:first-child:before {
  color: $color-memnon;
  content: '"';
  font-size: 5em;
  line-height: 79%;
  display: inline-block;
  vertical-align: top;
  height: 0;
  margin: 0 0 0 -5px;
}