.sliding-popup-bottom {
  width: 100%;
}

.eu-cookie-compliance-banner {
  background: white;
  padding: 10px 0;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  .popup-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  p {
    margin: 0 10px 0 0;
  }
}