/*
Forms

Styleguide 2.9
*/

// Colour variables used used in this component.
$form-control-border-color: $color-hecuba !default;

// Margins, paddings and sizes.
$form-label-margin-bottom: .4rem !default;
$form-label-font-size: $font-main-standard-size !default;
$form-control-padding: 1rem 1.5rem 0.8rem 1.5rem !default;
$form-control-border-thickness: 0.063rem !default;
$form-control-border-radius: 0 !default;
$form-text-margin-top: 0.25rem !default;
$form-email-margin-top: 0.25rem !default;

label {
  margin-bottom: $form-label-margin-bottom;
  font-size: $form-label-font-size;

  &.form-check-label a:not(.btn) {
    font-size: 1em;
  }
}

.form-control {
  padding: $form-control-padding;
  border: $form-control-border-thickness solid $form-control-border-color;
  border-radius: $form-control-border-radius;
}

.form-text {
  display: block;
  margin-top: $form-text-margin-top;
}

.form-email {
  display: block;
  margin-top: $form-email-margin-top;
}

input {
  font-weight: bold;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: normal;
}

input::-moz-placeholder { /* Firefox 19+ */
  font-weight: normal;
}

input:-ms-input-placeholder { /* IE 10+ */
  font-weight: normal;
}

input:-moz-placeholder { /* Firefox 18- */
  font-weight: normal;
}

@mixin make-inline-form {
  fieldset {
    display: inline-block;

    input {
      margin-top: 0;
    }
  }
  @include media-breakpoint-down(md) {
    display: block;
  }
  .button {
    display: inline-block;
    vertical-align: top;
    @include media-breakpoint-down(md) {
      display: block;
      margin: 0 auto;
    }
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
}

[class*='form-type-checkbox'] {
  margin-left: 1.25rem;
}

select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
  linear-gradient(135deg, gray 50%, transparent 50%),
  linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 10px), calc(100% - 15px) calc(1em + 10px), calc(100% - 35px) 16px;
  background-size: 5px 5px,
  5px 5px,
  1px 1.5em;
  background-repeat: no-repeat;

  &:focus {
    background-image: linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) calc(1em + 10px), calc(100% - 20px) calc(1em + 10px), calc(100% - 35px) 16px;
    background-size: 5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}
