$slick-arrow-color: $color-agamemnon !default;
$slick-arrow-size: 40px !default;
$slick-arrow-opacity: 1 !default;
$slick-arrow-hover-opacity: 0.8 !default;

.slick-arrow {
  width: $slick-arrow-size;
  height: $slick-arrow-size;

  &:before {
    color: $slick-arrow-color;
    font-size: $slick-arrow-size;
    opacity: $slick-arrow-opacity;
  }

  &:hover {
    &:before {
      opacity: $slick-arrow-hover-opacity;
    }
  }

  &.slick-disabled {
    display: none !important;
  }

  z-index: 5;

}

.slick-dots {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  background: $color-troilus;
  display: flex;

  li {
    width: inherit;
    height:7px;
    padding:0;
    margin:0;
    &.slick-active {
      background: $color-agamemnon;
    }
    button {
      display: none;
    }
  }
}
