/**
 * Masonry side tiles paragraph.
 */

// Colour variables used in this paragraph.
$ww-p-side-tiles-image-background-color: $color-odysseus !default;
$ww-p-side-tiles-text-background-color: $color-agamemnon !default;
$ww-p-side-tiles-text-background-color-secondary: darken($ww-p-side-tiles-text-background-color, 15%) !default;
$ww-p-side-tiles-text-color: $color-odysseus !default;
$ww-p-side-tiles-link-color: $color-nestor !default;
$ww-p-side-tiles-link-hover-color: darken($ww-p-side-tiles-link-color, 5%) !default;
$ww-p-side-tiles-line-color: $color-nestor !default;
$ww-p-side-tiles-header-color: $color-odysseus !default;
$ww-p-side-tiles-overlay-background: $color-cassandra !default;
$ww-p-side-tiles-overlay-color: $color-odysseus !default;
$ww-p-side-tiles-overlay-opacity: 0.6 !default;

// Margins, paddings and sizing.
$ww-p-side-tiles-line-margin-top: 1.44rem !default;
$ww-p-side-tiles-line-margin-bottom: 1.44rem !default;
$ww-p-side-tiles-mobile-height: 18.75rem !default;
$ww-p-side-tiles-text-desktop-padding-y: 7% !default;
$ww-p-side-tiles-text-mobile-padding: 7% !default;
$ww-p-side-tiles-text-width: 35.625rem !default;
$ww-p-side-tiles-half-padding: 10% !default; // Spacing between content and half of the screen

.ww-p-side-tiles-wrapper {

  background-color: $ww-p-side-tiles-text-background-color;

  &.image-side-left {
    background-color: $ww-p-side-tiles-text-background-color-secondary;
  }

  .ww-p-side-tiles-content {
    color: $ww-p-side-tiles-text-color;

    h2 {
      @include font-main-header;
      color: $ww-p-side-tiles-header-color;
      text-align: left;
      &:after {
        @include decoration-header-line;
        margin-top: $ww-p-side-tiles-line-margin-top;
        margin-bottom: $ww-p-side-tiles-line-margin-bottom;
        background: $ww-p-side-tiles-line-color;
      }
      &:last-child:after {
        display: none;
      }
    }
    a {
      color: $ww-p-side-tiles-link-color;
      &:hover {
        color: $ww-p-side-tiles-link-hover-color;
      }
    }
  }

  .ww-p-side-tiles-images {
    padding-left: 0;
    padding-right: 0;
    background-color: $ww-p-side-tiles-image-background-color;

    .field--name-field-ww-image {
      background-color: $ww-p-side-tiles-image-background-color;

      a {
        display: block;
      }
      img {
        width: 100%;
        height: auto;
        margin: 0 !important;
        display: block;
      }
    }
  }

  // Masonry styles.
  .d-side-tiles {
    float: none !important;
    margin: 0 !important;
    display: block !important;

    .d-tiles-sizer,
    .d-tiles-item {
      width: 50%;
    }

    .d-tiles-item {
      padding: 2px;
    }

    .d-tiles-caption {
      position: absolute;
      left: 2px;
      top: 2px;
      bottom: 2px;
      right: 2px;
      background: $ww-p-side-tiles-overlay-background;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        color: $ww-p-side-tiles-overlay-color;
        font-size: 1.5rem;
        font-weight: bold;

        small {
          display: block;
          font-size: 1rem;
          font-weight: normal;
        }
      }
    }

    .d-tiles-caption:hover {
      opacity: $ww-p-side-tiles-overlay-opacity;
    }
  }

  @include media-breakpoint-down(sm) {
    .ww-p-side-tiles-content {
      padding: $ww-p-side-tiles-text-mobile-padding;
    }
    .ww-p-side-tiles-images {
      border: 2px solid $ww-p-side-tiles-image-background-color;
    }
  }

  @include media-breakpoint-up(md) {

    .ww-p-side-tiles-content {
      display: flex;
      align-items: center;
      border: 2px solid $ww-p-side-tiles-image-background-color;

      .ww-p-side-tiles-content-fields {
        width: $ww-p-side-tiles-text-width;
      }
    }
    &.image-side {
      &-right {
        .ww-p-side-tiles-content {
          justify-content: flex-end;
          border-left: none;
          order: 1;
        }
        .ww-p-side-tiles-images {
          order: 2;
          border-right: 2px solid $ww-p-side-tiles-image-background-color;
        }
        .ww-p-side-tiles-content-fields {
          padding: $ww-p-side-tiles-text-desktop-padding-y $ww-p-side-tiles-half-padding $ww-p-side-tiles-text-desktop-padding-y ($grid-gutter-width / 2);
        }
      }
      &-left {
        .ww-p-side-tiles-content {
          justify-content: flex-start;
          border-right: none;
        }
        .ww-p-side-tiles-images {
          border-left: 2px solid $ww-p-side-tiles-image-background-color;
        }
        .ww-p-side-tiles-content-fields {
          padding: $ww-p-side-tiles-text-desktop-padding-y ($grid-gutter-width / 2) $ww-p-side-tiles-text-desktop-padding-y $ww-p-side-tiles-half-padding;
        }
      }
    }
  }
}

// @TODO Introduce .paragraph-light and .paragraph-dark

@include media-breakpoint-up(md) {
  .wrapper-ww_p_side_tiles + .wrapper-ww_p_text_with_bckg,
  .wrapper-ww_p_side_tiles + .wrapper-ww_p_subscribe_file,
  .wrapper-ww_p_side_tiles + .wrapper-ww_p_form,
  .wrapper-ww_p_side_tiles + .wrapper-ww_p_counters,
  .wrapper-ww_p_side_tiles + .wrapper-ww_p_banner,
  .wrapper-ww_p_side_tiles + .wrapper-ww_p_side_embed,
  .wrapper-ww_p_side_tiles + .wrapper-ww_p_side_image {
    border-top: 2px solid transparent;
  }
}

.wrapper-ww_p_text_with_bckg + .wrapper-ww_p_side_tiles,
.wrapper-ww_p_subscribe_file + .wrapper-ww_p_side_tiles,
.wrapper-ww_p_form + .wrapper-ww_p_side_tiles,
.wrapper-ww_p_counters + .wrapper-ww_p_side_tiles,
.wrapper-ww_p_banner + .wrapper-ww_p_side_tiles,
.wrapper-ww_p_side_embed + .wrapper-ww_p_side_tiles,
.wrapper-ww_p_side_image + .wrapper-ww_p_side_tiles {
  border-top: 2px solid transparent;
}