/*
Form paragraph.

Styleguide components.d_p.form
*/

// Colors.
$ww-p-form-header-color: $color-cassandra !default;
$ww-p-form-text-color: $color-cassandra !default;

// Margins, paddings and sizes.
$ww-p-form-header-margin-bottom: 10% !default;
$ww-p-form-padding-top: 5% !default;
$ww-p-form-padding-bottom: 5% !default;
$ww-p-form-button-margin-top: 1rem !default;

.paragraph-ww-form {
  padding-top: $ww-p-form-padding-top;
  padding-bottom: $ww-p-form-padding-bottom;

  form {
    margin: 0;
  }
  h2 {
    @include font-main-header;
    margin-bottom: $ww-p-form-header-margin-bottom;
    text-align: center;
    color: $ww-p-form-header-color;
  }
  .field--name-field-ww-icon {
    text-align: center;
  }
  .form-actions {
    text-align: center;
    .btn {
      margin-top: $ww-p-form-button-margin-top;
    }
  }

  label {
    color: $ww-p-form-text-color;
  }
}
