/*
Components Carousel
*/

// Colour variables used in this paragraph.
$ww-p-carousel-item-text-color: $color-hecuba !default;
$ww-p-carousel-item-line-color: $color-agamemnon !default;
$ww-p-carousel-line-color: $color-agamemnon !default;
$ww-p-carousel-background: $color-agamemnon !default;

// Margins, paddings and sizing.
$ww-p-carousel-padding-y: 5% !default;
$ww-p-carousel-mobile-padding-y: 5% !default;
$ww-p-carousel-items-margin-top: 2% !default;
$ww-p-carousel-mobile-items-margin-top: 3rem !default;
$ww-p-carousel-line-margin: $line-center-margin-top auto $line-center-margin-bottom auto !default;
$ww-p-carousel-item-line-margin-top: $line-left-margin-top !default;
$ww-p-carousel-item-line-margin-bottom: $line-left-margin-bottom !default;
$ww-p-carousel-item-image-margin-bottom: 1rem !default;
$ww-p-carousel-item-image-height: 200px !default;
$ww-p-carousel-item-mobile-image-height: 150px !default;


// Font mixins
@mixin font-title-carousel-item {
  font-size: $font-size-lg;
  font-weight: bold;
  text-align: left;
  @include media-breakpoint-down(sm) {
    font-size: $font-size-mdlg;
  }
}

// Group of carousel items.
.paragraph--type--ww-p-carousel {
  padding-top: $ww-p-carousel-padding-y;
  padding-bottom: $ww-p-carousel-padding-y;

  @include media-breakpoint-down(md) {
    padding-top: $ww-p-carousel-mobile-padding-y;
    padding-bottom: $ww-p-carousel-mobile-padding-y;
  }

  .field--name-field-ww-icon {
    text-align: center;
  }

  .content > .field--name-field-ww-main-title {
    @include font-main-header;
    text-align: center;

    &:after {
      @include decoration-header-line-main-center;
      background: $ww-p-carousel-line-color;
      margin: $ww-p-carousel-line-margin;
    }
  }

  .content > .field--name-field-ww-long-text {
    text-align: center;
  }

  .slick-prev {
    left: (-1 * $slick-arrow-size) - 5px;
  }

  .slick-next {
    right: (-1 * $slick-arrow-size) - 5px;
  }

  .field--name-field-ww-main-title + .field--name-field-ww-p-cs-item-reference,
  .field--name-field-ww-long-text + .field--name-field-ww-p-cs-item-reference {
    margin-top: $ww-p-carousel-items-margin-top;
    @include media-breakpoint-down(md) {
      margin-top: $ww-p-carousel-mobile-items-margin-top;
    }
  }

  .field--name-field-ww-p-cs-item-reference {
    margin-left: $slick-arrow-size / 2;
    margin-right: $slick-arrow-size / 2;
    @include media-breakpoint-up(sm) {
      margin-left: 0;
      margin-right: 0;
    }

    // Single carousel item
    .carousel-item-wrapper {
      overflow: hidden;

      &:focus {
        outline: 0;
      }

      .ww-p-carousel-item {

        &:focus,
        &:focus * {
          outline: 0;
        }

        &:hover {
          text-decoration: none;
        }

        //margin-bottom: $ww-p-carousel-item-margin-bottom;
        h1.field--name-field-ww-main-title {
          @include font-title-carousel-item;
          text-align: center;
        }

        .field--name-field-ww-long-text {
          p {
            @include font-body-standard;
            color: $ww-p-carousel-item-text-color;
            text-align: center;
          }

          &:before {
            @include decoration-header-line-main-center;
            background: $ww-p-carousel-item-line-color;
            margin-top: $ww-p-carousel-item-line-margin-top;
            margin-bottom: $ww-p-carousel-item-line-margin-bottom;
          }
        }

        .field--name-field-ww-image {
          float: none;
          margin: 0 0 $ww-p-carousel-item-image-margin-bottom 0;
          height: $ww-p-carousel-item-image-height;
          display: flex;
          align-items: center;
          justify-content: center;

          @include media-breakpoint-down(sm) {
            max-height: $ww-p-carousel-item-mobile-image-height;
          }

          img {
            max-width: 100%;
            max-height: $ww-p-carousel-item-image-height;
            height: auto;
            width: auto;
            display: block;
            margin: 0;

            @include media-breakpoint-down(md) {
              max-height: $ww-p-carousel-item-mobile-image-height;
            }
          }
        }
      }
    }
  }
}

