/**
 * Side embed paragraph.
 */

// Colour variables used in this paragraph.
$ww-p-side-embed-background-color: $color-agamemnon !default;
$ww-p-side-embed-background-color-secondary: darken($ww-p-side-embed-background-color, 15%) !default;
$ww-p-side-embed-embed-background-color: $color-cassandra !default;
$ww-p-side-embed-text-color: $color-odysseus !default;
$ww-p-side-embed-link-color: $color-nestor !default;
$ww-p-side-embed-link-hover-color: darken($ww-p-side-embed-link-color, 5%) !default;
$ww-p-side-embed-line-color: $color-nestor !default;
$ww-p-side-embed-header-color: $color-odysseus !default;

// Margins, paddings and sizing.
$ww-p-side-embed-line-margin-top: 1.44rem !default;
$ww-p-side-embed-line-margin-bottom: 1.44rem !default;
$ww-p-side-embed-fields-padding-y: 7% !default;
$ww-p-side-embed-mobile-height: 18.75rem !default;
$ww-p-side-embed-text-desktop-padding-y: 2rem !default;
$ww-p-side-embed-text-mobile-padding: 7% !default;
$ww-p-side-embed-text-width: 35.625rem !default;
$ww-p-side-embed-half-padding: 10% !default; // Spacing between content and half of the screen
$ww-p-side-embed-mobile-height: 300px !default; // This value must be set, otherwise embed won't be visible.
$ww-p-side-embed-desktop-height: auto !default; // You can set fixed height of embed here.

.ww-p-side-embed-wrapper {

  &.embed-side-right {
    background: $ww-p-side-embed-background-color;
  }
  &.embed-side-left {
    background: $ww-p-side-embed-background-color-secondary;
  }

  .ww-p-side-embed-content {
    color: $ww-p-side-embed-text-color;

    h2 {
      @include font-main-header;
      color: $ww-p-side-embed-header-color;
      text-align: left;
      &:after {
        @include decoration-header-line;
        margin-top: $ww-p-side-embed-line-margin-top;
        margin-bottom: $ww-p-side-embed-line-margin-bottom;
        background: $ww-p-side-embed-line-color;
      }
      &:last-child:after {
        display: none;
      }
    }
    a {
      color: $ww-p-side-embed-link-color;
      &:hover {
        color: $ww-p-side-embed-link-hover-color;
      }
    }
  }

  .ww-p-side-embed-embed {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    height: $ww-p-side-embed-desktop-height;
    background: $ww-p-side-embed-embed-background-color;

    > * {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &.facebook-embed {
        position: static;
        max-width: 100%;
      }
      .vimeo-embed,
      &.vimeo-embed {
        z-index: 2;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .ww-p-side-embed-content {
      padding: $ww-p-side-embed-text-mobile-padding;
    }
    .ww-p-side-embed-embed {
      min-height: $ww-p-side-embed-mobile-height;
    }
  }

  @include media-breakpoint-up(md) {

    .ww-p-side-embed-content {
      padding: $ww-p-side-embed-text-desktop-padding-y ($grid-gutter-width / 2);
      display: flex;
      align-items: center;

      .ww-p-side-embed-content-fields {
        width: $ww-p-side-embed-text-width;
        padding-top: $ww-p-side-embed-fields-padding-y;
        padding-bottom: $ww-p-side-embed-fields-padding-y;
      }
    }
    &.embed-side {
      &-right {
        .ww-p-side-embed-content {
          justify-content: flex-end;
          order: 1;
        }
        .ww-p-side-embed-embed {
          order: 2;
        }
        .ww-p-side-embed-content-fields {
          padding-right: $ww-p-side-embed-half-padding;
          padding-left: ($grid-gutter-width / 2);
        }
      }
      &-left {
        .ww-p-side-embed-content {
          justify-content: flex-start;
        }
        .ww-p-side-embed-content-fields {
          padding-left: $ww-p-side-embed-half-padding;
          padding-right: ($grid-gutter-width / 2);
        }
      }
    }
  }
}
