/**
 * Slider paragraph
 */

.ww-p-slider {
  overflow: hidden;

  .ww-p-banner {
    height: 500px;
  }

  .slick-arrow {

    z-index: 1;

    &.slick-prev {
      left: 20px;
    }

    &.slick-next {
      right: 20px;
    }
  }

  @include media-breakpoint-down(sm) {

    .slick-arrow {
      bottom: 0px;
      top: inherit;
    }
  }
}