/**
 * Simple gallery paragraph
 */

// Colour variables used in this paragraph
$ww-p-gallery-line-color: $color-agamemnon !default;
$ww-p-gallery-color: $color-hecuba !default;

// Margins, paddings and sizing.
$ww-p-gallery-line-margin-top: 1rem !default;
$ww-p-gallery-line-margin-bottom: 1rem !default;
$ww-p-gallery-margin-y: 5% !default;

.paragraph--type--ww-p-gallery {
  margin-top: $ww-p-gallery-margin-y;
  margin-bottom: $ww-p-gallery-margin-y;

  h2 {
    @include font-main-header;
    text-align: center;
  }

  .field--name-field-ww-icon {
    text-align: center;
  }

  .field--name-field-ww-long-text {
    p {
      color: $ww-p-gallery-color;
      text-align: center;
    }

    &:before {
      @include decoration-header-line-main-center;
      background: $ww-p-gallery-line-color;
      margin-top: $ww-p-gallery-line-margin-top;
      margin-bottom: $ww-p-gallery-line-margin-bottom;
    }
  }

  .field--name-field-ww-image {
    img {
      width: 100%;
      height: auto;
    }
  }
}

