/*
Form paragraph.

Styleguide components.d_p.ww_p_text_with_bckg
*/

// Colour variables used in this paragraph.
$ww-p-text-with-bckg-background-overlay: $color-odysseus !default;
$ww-p-text-with-bckg-line-color: $line-background !default;
$ww-p-text-with-bckg-header-color: $color-troilus !default;

// Margins, paddings and sizing.
$ww-p-text-with-bckg-button-margin-top: 3.125rem !default;
$ww-p-text-with-bckg-padding-top: 6.5% !default;
$ww-p-text-with-bckg-padding-bottom: 6.5% !default;
$ww-p-text-with-bckg-mobile-padding-top: 6.25rem !default;
$ww-p-text-with-bckg-mobile-padding-bottom: 6.25rem !default;
$ww-p-text-with-bckg-line-margin-top: $line-center-margin-top !default;
$ww-p-text-with-bckg-line-margin-bottom: $line-center-margin-bottom !default;

// Other settings
$ww-p-text-with-bckg-img-opacity: 0.1 !default;

.ww-p-text-with-bckg {
  background: $ww-p-text-with-bckg-background-overlay;
  z-index: 0;
  position: relative;
  overflow: hidden;

  h2 {
    @include font-main-header;
    color: $ww-p-text-with-bckg-header-color;
    text-align: center;
  }

  .field--name-field-ww-icon {
    text-align: center;
  }

  h3.field--name-field-ww-subtitle {
    @include font-subtitle;
    text-align: center;
  }

  p {
    @include font-body-standard;
    text-align: center;
    line-height: 1.7;
  }

  h2 + .field--type-link,
  h3 + .field--type-link,
  .field--name-field-ww-long-text {
    &:before {
      @include decoration-header-line-main-center;
      background: $ww-p-text-with-bckg-line-color;
      margin-top: $ww-p-text-with-bckg-line-margin-top;
      margin-bottom: $ww-p-text-with-bckg-line-margin-bottom;
    }
  }

  .field--type-link {
    text-align: center;

    a {
      @extend .btn;
      @extend .btn-primary;
      margin-top: $ww-p-text-with-bckg-button-margin-top;
    }
  }

  .field--name-field-ww-image-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    margin: 0;

    div, img {
      width: 100%;
      height: 100%;
      margin: 0;
    }

    img {
      opacity: $ww-p-text-with-bckg-img-opacity;
      object-fit: cover;
    }
  }

  .content-wrapper {
    width: 100%;
    padding-top: $ww-p-text-with-bckg-padding-top;
    padding-bottom: $ww-p-text-with-bckg-padding-bottom;
    @include media-breakpoint-down(sm) {
      padding-top: $ww-p-text-with-bckg-mobile-padding-top;
      padding-bottom: $ww-p-text-with-bckg-mobile-padding-bottom;
    }
  }
}
