/*
Components Image Side Banner

Styleguide 2.image-slide-banner

*/

// Colour variables used in this paragraph.
$ww-p-side-image-banner-background-color: $color-agamemnon !default;
$ww-p-side-image-banner-background-color-secondary: darken($ww-p-side-image-banner-background-color, 15%) !default;
$ww-p-side-image-banner-text-color: $color-odysseus !default;
$ww-p-side-image-banner-link-color: $color-nestor !default;
$ww-p-side-image-banner-link-hover-color: darken($ww-p-side-image-banner-link-color, 5%) !default;
$ww-p-side-image-line-color: $color-nestor !default;
$ww-p-side-image-header-color: $color-odysseus !default;

// Margins, paddings and sizing.
$ww-p-side-image-line-margin-top: 1.44rem !default;
$ww-p-side-image-line-margin-bottom: 1.44rem !default;
$ww-p-side-image-mobile-height: 18.75rem !default;
$ww-p-side-image-banner-text-padding: 7% !default;
$ww-p-side-image-banner-text-width: 35.625rem !default;
$ww-p-side-image-banner-half-padding: 5% !default; // Spacing between content and half of the screen

.ww-p-side-image-banner {
  color: $ww-p-side-image-banner-text-color;

  h2 {
    @include font-main-header;
    color: $ww-p-side-image-header-color;
    text-align: left;

    &:after {
      @include decoration-header-line;
      margin-top: $ww-p-side-image-line-margin-top;
      margin-bottom: $ww-p-side-image-line-margin-bottom;
      margin-background: $ww-p-side-image-line-color;
    }

    &:last-child:after {
      display: none;
    }
  }

  a {
    color: $ww-p-side-image-banner-link-color;

    &:hover {
      color: $ww-p-side-image-banner-link-hover-color;
    }
  }

  .image {
    div, picture, img {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    img {
      object-fit: cover;
    }
  }

  .text {
    display: flex;
    align-items: center;

    .inner {
      padding: 7%;
    }
  }

  .image-side {
    &-right {
      background: $ww-p-side-image-banner-background-color;

      @include media-breakpoint-up(sm) {
        .image {
          order: 2
        }
      }
    }

    &-left {
      background: $ww-p-side-image-banner-background-color-secondary;
    }
  }
}
