/*
Components Boxes

Styleguide 2.8
*/

// Colour variables used in this paragraph.
$ww-p-single-box-text-color: $color-hecuba !default;
$ww-p-single-box-line-color: $color-agamemnon !default;
$ww-p-text-blocks-line-color: $color-agamemnon !default;
$ww-p-text-blocks-background: $color-agamemnon !default;

// Margins, paddings and sizing.
$ww-p-text-blocks-group-padding-y: 7.75rem;
$ww-p-text-blocks-group-mobile-padding-y: 4rem;
$ww-p-text-blocks-group-margin: 0 0 5.5rem 0 !default;
$ww-p-text-blocks-mobile-group-margin: 0 0 2.8rem 0 !default;
$ww-p-text-blocks-group-line-margin: 0.625rem auto !default;
$ww-p-single-box-line-margin-top: $line-left-margin-top !default;
$ww-p-single-box-line-margin-bottom: $line-left-margin-bottom !default;
$ww-p-text-blocks-group-button-margin: 3.125rem auto 0 auto !default;
$ww-p-text-blocks-mobile-group-button-margin: 1.875rem auto 4.375rem auto !default;
$ww-p-single-box-margin-bottom: 15% !default;

// Other settings.
$ww-p-single-text-box-cta-text-transform: uppercase !default;

// Font mixins
@mixin font-title-single-box {
  font-size: $font-size-lg;
  font-weight: bold;
  text-align: left;
  @include media-breakpoint-down(sm) {
    font-size: $font-size-mdlg;
  }
}

// Group of text blocks with header and CTA
.ww-p-group-of-text-blocks {

  padding-top: $ww-p-text-blocks-group-padding-y;
  padding-bottom: $ww-p-text-blocks-group-padding-y;

  @include media-breakpoint-down(md) {
    padding-top: $ww-p-text-blocks-group-mobile-padding-y;
    padding-bottom: $ww-p-text-blocks-group-mobile-padding-y;
  }

  & > .field--name-field-ww-icon {
    text-align: center;
  }

  & > h2 {
    @include font-main-header;
    text-align: center;
    margin: $ww-p-text-blocks-group-margin;
    @include media-breakpoint-down(md) {
      margin: $ww-p-text-blocks-mobile-group-margin;
    }
    &:after {
      @include decoration-header-line-main-center;
      background: $ww-p-text-blocks-line-color;
      margin: $ww-p-text-blocks-group-line-margin;
    }
  }
  > .field--type-link {
    text-align: center;
    a {
      @extend .btn;
      @extend .btn-primary;
      margin: $ww-p-text-blocks-group-button-margin;
      @include media-breakpoint-down(md) {
        margin: $ww-p-text-blocks-mobile-group-button-margin;
      }
    }
  }
}

// Single box
.ww-p-text-block {
  margin-bottom: $ww-p-single-box-margin-bottom;
  h2 {
    @include font-title-single-box;
    &:after {
      @include decoration-header-line;
      background: $ww-p-single-box-line-color;
      margin-top: $ww-p-single-box-line-margin-top;
      margin-bottom: $ww-p-single-box-line-margin-bottom;
    }
  }
  p {
    @include font-body-standard;
    color: $ww-p-single-box-text-color;
  }
  a {
    @include text-transform($ww-p-single-text-box-cta-text-transform)

  }
}
