/*
Subscribe paragraph

Styleguide 2.10
*/

// Colour variables used in this paragraph
$ww-p-subscribe-color: $color-odysseus !default;
$ww-p-subscribe-header-color: $color-odysseus !default;
$ww-p-subscribe-background: $color-agamemnon !default;
$ww-p-subscribe-line-color: $line-background !default;

// Padding, margins & sizing.
$ww-p-subscribe-form-margin: 2.2rem auto 1.25rem auto !default;
$ww-p-subscribe-form-max-width: 56rem !default;
$ww-p-subscribe-mobile-form-max-width: 31.25rem !default;
$ww-p-subscribe-mobile-form-margin-y: 3% !default;
$ww-p-subscribe-padding-y: 8% !default;
$ww-p-subscribe-line-margin-top: 1.45rem !default;
$ww-p-subscribe-line-margin-bottom: $line-center-margin-bottom !default;

// Other settings.
$ww-p-subscribe-img-opacity: 0.4 !default;

// Subscribe form
.ww-p-subscribe-file-form {

  margin: $ww-p-subscribe-form-margin;
  text-align: center;

  .form-control {
    border: none;
  }

  @include make-inline-form;
  fieldset.form-item-name {
    max-width: 0.25 * $ww-p-subscribe-form-max-width;
    margin-right: 0.025 * $ww-p-subscribe-form-max-width;
  }
  fieldset.form-item-mail {
    max-width: 0.4 * $ww-p-subscribe-form-max-width;
    margin-right: 0.025 * $ww-p-subscribe-form-max-width;
  }
  .checkbox {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  @include media-breakpoint-up(lg) {
    .checkbox {
      width: 0.75 * $ww-p-subscribe-form-max-width;
    }
  }
  @include media-breakpoint-down(lg) {
    fieldset.form-item-mail {
      max-width: 0.35 * $ww-p-subscribe-form-max-width;
    }
    .checkbox {
      width: 90%;
    }
  }
  @include media-breakpoint-down(md) {
    max-width: $ww-p-subscribe-mobile-form-max-width;
    margin: $ww-p-subscribe-mobile-form-margin-y auto;
    fieldset.form-item-name, fieldset.form-item-mail {
      max-width: 100%;
      margin-right: 0;
    }
  }
}

// Entire paragraph
.subscribe_file {
  color: $ww-p-subscribe-color;
  z-index: 0;
  padding: $ww-p-subscribe-padding-y 0;
  background: $ww-p-subscribe-background;
  .backstretch-item {
    img {
      opacity: $ww-p-subscribe-img-opacity;
    }
  }
  a {
    color: $ww-p-subscribe-color;
  }
  .field--name-field-ww-icon {
    text-align: center;
  }
  h2 {
    @include font-main-header;
    color: $ww-p-subscribe-header-color;
    text-align: center;

    // Horizontal line
    &:after {
      @include decoration-header-line-main-center;
      margin-top: $ww-p-subscribe-line-margin-top;
      margin-bottom: $ww-p-subscribe-line-margin-bottom;
      color: $ww-p-subscribe-line-color;
    }
  }
  p {
    text-align: center;
  }
}
