/*
Text page

Styleguide 2.banner.calina
*/

// Colour variables used in this paragraph
$ww-p-text-paged-subtitle-color: $color-agamemnon !default;
$ww-p-text-paged-line-color: $color-agamemnon !default;
$ww-p-text-paged-color: $color-hecuba !default;

// Margins, paddings and sizing.
$ww-p-text-paged-subtitle-margin-y: 1.125rem !default;
$ww-p-text-paged-line-margin-top: 1rem !default;
$ww-p-text-paged-line-margin-bottom: 1rem !default;
$ww-p-text-pageww-padding-y: 5% !default;
$ww-p-text-paged-first-margin-top: 2% !default;

.text-page {
  padding-top: $ww-p-text-pageww-padding-y;
  padding-bottom: $ww-p-text-pageww-padding-y;

  > div > .field--name-field-ww-icon {
    text-align: center;
  }

  > div > h2 {
    @include font-main-header;
    text-align: center;
  }

  > div > h3.field--name-field-ww-subtitle {
    margin: $ww-p-text-paged-subtitle-margin-y 0;
    @include font-subtitle;
    text-align: center;
    color: $ww-p-text-paged-subtitle-color;
  }

  .field--name-field-ww-long-text {
    p {
      color: $ww-p-text-paged-color;
    }

    &:before {
      @include decoration-header-line-main-center;
      background: $ww-p-text-paged-line-color;
      margin-top: $ww-p-text-paged-line-margin-top;
      margin-bottom: $ww-p-text-paged-line-margin-bottom;
    }
  }
}

// If this is the first paragraph - decrease top margin.
.paragraph-sections > section:first-child > .text-page {
  margin-top: $ww-p-text-paged-first-margin-top;
}
