/**
 * Counters paragraph
 */

// Colour variables used in this paragraph.
$ww-p-counters-background-overlay: $color-agamemnon !default;
$ww-p-counters-line-color: $line-background !default;
$ww-p-counters-header-color: $color-odysseus !default;
$ww-p-counters-number-color: $color-odysseus !default;
$ww-p-counters-text-color: $color-nestor !default;

// Margins, paddings and sizing.
$ww-p-counters-title-margin-top: 0 !default;
$ww-p-counters-padding-top: 7.5rem !default;
$ww-p-counters-padding-bottom: 7.5rem !default;
$ww-p-counters-mobile-padding-top: 3rem !default;
$ww-p-counters-mobile-padding-bottom: 3rem !default;
$ww-p-counters-line-margin-top: $line-center-margin-top !default;
$ww-p-counters-line-margin-bottom: $line-center-margin-bottom !default;

// Other settings
$ww-p-counters-img-opacity: 0.2 !default;

.paragraph--type--ww-p-group-of-counters {
  background: $ww-p-counters-background-overlay;
  z-index: 0;

  .content-wrapper {
    width: 100%;
    padding-top: $ww-p-counters-padding-top;
    padding-bottom: $ww-p-counters-padding-bottom;
    @include media-breakpoint-down(sm) {
      padding-top: $ww-p-counters-mobile-padding-top;
      padding-bottom: $ww-p-counters-mobile-padding-bottom;
    }

    .field--name-field-ww-icon {
      text-align: center;
    }

    // The header.
    h2 {
      @include font-main-header;
      color: $ww-p-counters-header-color;
      text-align: center;
      margin-top: $ww-p-counters-title-margin-top;

      &:after {
        @include decoration-header-line-main-center;
        background: $ww-p-counters-line-color;
        margin-top: $ww-p-counters-line-margin-top;
        margin-bottom: $ww-p-counters-line-margin-bottom;
      }
    }

    // List of counters.
    .paragraph--type--ww-p-single-counter {
      text-align: center;
      .field--name-field-ww-number {
        @include font-main-header;
        color: $ww-p-counters-number-color;
        font-family: $font-header;
      }
      .field--name-field-ww-main-title {
        color: $ww-p-counters-text-color;
        font-size: $font-main-standard-size;
        font-weight: normal;
      }
    }
  }

  // Background image
  .backstretch-item {
    img {
      opacity: $ww-p-counters-img-opacity;
      @include media-breakpoint-down(sm) {
        max-width: none;
        width: 100%;
        overflow: hidden;
      }
    }
  }
}
