/*
Components Banner

Styleguide 2.banner
*/

// Colour variables used in this paragraph
$ww-p-banner-header-color: $color-odysseus !default;
$ww-p-banner-subheader-color: $color-odysseus !default;
$ww-p-banner-text-color: $color-odysseus !default;
$ww-p-banner-background-overlay: $color-cassandra !default;
$ww-p-banner-line-color: $color-odysseus !default;

$ww-p-banner-light-line-color: $color-achillies !default;
$ww-p-banner-light-text-color: $color-troilus !default;

// Margins, paddings and sizes.
$ww-p-banner-text-line-height: 1.7 !default;
$ww-p-banner-button-margin-top: 4.375rem !default;
$ww-p-banner-padding-top: 18.5% !default;
$ww-p-banner-padding-bottom: 14.5% !default;
$ww-p-banner-mobile-padding-top: 6.25rem !default;
$ww-p-banner-mobile-padding-bottom: 6.25rem !default;
$ww-p-banner-line-margin-top: $line-center-margin-top !default;
$ww-p-banner-line-margin-bottom: $line-center-margin-bottom !default;

// Other settings
$ww-p-banner-img-opacity: 0.5 !default;
$ww-p-banner-subheader-opacity: 1 !default;
$ww-p-banner-min-height: 600 !default;

.ww-p-banner {
  background: $ww-p-banner-background-overlay;
  color: $ww-p-banner-text-color;
  z-index: 0;
  overflow: hidden;
  position: relative;

  &.image-background, &.video-background {
    @include media-breakpoint-up(lg) {
      min-height: #{$ww-p-banner-min-height}px;
    }
  }

  display: flex !important;
  align-items: center;
  justify-content: center;

  .content > h2, .content > h1 {
    @include font-main-header-big;
    color: $ww-p-banner-header-color;
    text-align: center;
    text-transform: uppercase;
  }

  .field--name-field-ww-icon {
    text-align: center;
  }

  h3.field--name-field-ww-subtitle {
    @include font-subtitle;
    text-align: center;
    color: $ww-p-banner-subheader-color;
    opacity: $ww-p-banner-subheader-opacity;
  }

  p {
    @include font-body-standard;
    text-align: center;
    line-height: $ww-p-banner-text-line-height;
  }

  .field--type-link {
    text-align: center;

    a {
      @extend .btn;
      @extend .btn-primary;
      margin-top: $ww-p-banner-button-margin-top;
    }
  }

  h2 + .field--type-link,
  h3 + .field--type-link,
  .field--name-field-ww-long-text {
    &:before {
      @include decoration-header-line-main-center;
      background: $ww-p-banner-line-color;
      margin-top: $ww-p-banner-line-margin-top;
      margin-bottom: $ww-p-banner-line-margin-bottom;
    }
  }

  .field--name-field-ww-image-background, .field--name-field-ww-p-video-background {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;

    &[data-parallax] {
      top: inherit;
      bottom: 0;
      height: #{$ww-p-banner-min-height + 200}px;
    }

    div, img, picture, video {
      width: 100% !important;
      height: 100% !important;
      margin: 0;
    }

    img, video {
      opacity: $ww-p-banner-img-opacity;
      object-fit: cover;
    }

  }

  //pattern overlay
  &.pattern-overlay:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    background: url($ww-grid-pattern);
    width: 100%;
    height: 100%;
  }

  .content-wrapper {
    padding: 100px 0px;
    @include media-breakpoint-up(sm) {
      padding: 100px 80px;
    }
    z-index: 1;
  }

  &.light {
    background: white !important;
    color: inherit;

    h1, h2, h3 {
      color: $ww-p-banner-light-text-color;
    }

    img {
      opacity: 0.1;
    }

    h2 + .field--type-link,
    h3 + .field--type-link,
    .field--name-field-ww-long-text {
      &:before {
        background: $ww-p-banner-light-line-color;
      }
    }
  }
}
