/**
 * Masonry gallery paragraph
 */

// Colour variables used in this paragraph
$ww-p-tiles-line-color: $color-agamemnon !default;
$ww-p-tiles-color: $color-hecuba !default;
$ww-p-tiles-overlay-background: $color-cassandra !default;
$ww-p-tiles-overlay-color: $color-odysseus !default;
$ww-p-tiles-overlay-opacity: 0.6 !default;

// Margins, paddings and sizing.
$ww-p-tiles-line-margin-top: 1rem !default;
$ww-p-tiles-line-margin-bottom: 1rem !default;
$ww-p-tiles-margin-top: 5% !default;
$ww-p-tiles-margin-bottom: 5% !default;

.paragraph--type--ww-p-tiles {
  @include clearfix;

  .paragraph-top-light & {
    margin-top: $ww-p-tiles-margin-top;
  }
  .paragraph-bottom-light & {
    margin-bottom: $ww-p-tiles-margin-bottom;
  }

  h2 {
    @include font-main-header;
    text-align: center;
  }

  .field--name-field-ww-long-text {
    p {
      color: $ww-p-tiles-color;
      text-align: center;
    }

    &:before {
      @include decoration-header-line-main-center;
      background: $ww-p-tiles-line-color;
      margin-top: $ww-p-tiles-line-margin-top;
      margin-bottom: $ww-p-tiles-line-margin-bottom;
    }
  }

  .field--name-field-ww-icon {
    text-align: center;
  }

  .field--name-field-ww-image {
    a {
      display: block;
    }

    img {
      width: 100%;
      height: auto;
      margin: 0 !important;
      display: block;
    }
  }

  // Masonry styles.
  .tiles-wrapper {
    padding-left: 2px;
    padding-right: 2px;
  }

  .d-tiles {
    float: none !important;
    margin: 0 !important;
    display: block !important;
    width: 100%;

    .d-tiles-sizer,
    .d-tiles-item {
      width: 25%;
      @include media-breakpoint-down(sm) {
        width: 50%;
      }
    }

    .d-tiles-item {
      padding: 2px;
    }

    .d-tiles-item-2x2 {
      width: 50%;
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    .d-tiles-caption {
      position: absolute;
      left: 2px;
      top: 2px;
      bottom: 2px;
      right: 2px;
      background: $ww-p-tiles-overlay-background;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        color: $ww-p-tiles-overlay-color;
        font-size: 1.5rem;
        font-weight: bold;

        small {
          display: block;
          font-size: 1rem;
          font-weight: normal;
        }
      }
    }

    .d-tiles-caption:hover {
      opacity: $ww-p-tiles-overlay-opacity;
    }
  }
}

// @TODO Introduce .paragraph-light and .paragraph-dark

.wrapper-ww_p_tiles + .wrapper-ww_p_text_with_bckg,
.wrapper-ww_p_tiles + .wrapper-ww_p_subscribe_file,
.wrapper-ww_p_tiles + .wrapper-ww_p_form,
.wrapper-ww_p_tiles + .wrapper-ww_p_counters,
.wrapper-ww_p_tiles + .wrapper-ww_p_banner,
.wrapper-ww_p_tiles + .wrapper-ww_p_side_embed,
.wrapper-ww_p_tiles + .wrapper-ww_p_side_image {
  border-top: 2px solid transparent;
}

.wrapper-ww_p_text_with_bckg + .wrapper-ww_p_tiles.paragraph-top-dark,
.wrapper-ww_p_subscribe_file + .wrapper-ww_p_tiles.paragraph-top-dark,
.wrapper-ww_p_form + .wrapper-ww_p_tiles.paragraph-top-dark,
.wrapper-ww_p_counters + .wrapper-ww_p_tiles.paragraph-top-dark,
.wrapper-ww_p_banner + .wrapper-ww_p_tiles.paragraph-top-dark,
.wrapper-ww_p_side_embed + .wrapper-ww_p_tiles.paragraph-top-dark,
.wrapper-ww_p_side_image + .wrapper-ww_p_tiles.paragraph-top-dark {
  border-top: 2px solid transparent;
}

@include media-breakpoint-down(sm) {
  .wrapper-ww_p_side_tiles + .wrapper-ww_p_tiles.paragraph-top-dark {
    border-top: 2px solid transparent;
  }
}