// Header
$header-height: 6rem !default; // Top navbar height. Increase it if your logo is tall
$header-mobile-height: 4.5rem !default; // Top navbar height. Increase it if your logo is tall

// Global
$page-min-width: 320px !default; // Minimum page width in pixels

// Grid pattern overlay
$ww-grid-pattern: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAExJREFUGBldjoENACAIw3jDOzzQ05USWRZIjOC2YkTEztN1slk95H27x4TYhUkij4hOQhTJk5g8WSY5v+gkhefO+afCOomkSHOnsJgeTTkOUXu1cQYAAAAASUVORK5CYII=' !default;